# X (Twitter) API Keys
# Obtén estas llaves en https://developer.twitter.com/en/portal/dashboard

CONSUMER_KEY=fYevzBoWUBkXHs1cpFewQ9JGe
CONSUMER_SECRET=z1GLlUIRerULMdRrqCcuOZVe7r88TUnxlszKlpLsQM5sqtqaNq
ACCESS_TOKEN=tu_access_token_aqui
ACCESS_TOKEN_SECRET=tu_access_token_secret_aqui
